<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceOne Corporation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body class="container">
    <header>
        <h1>Welcome to SpaceOne Corporation</h1>
    </header>

    <nav>
        <a href="index.html">Home</a>
        <a href="database.html">Our Database</a>
    </nav>

    <main>
        <section>
            <article>
                <h2>Kontaktieren Sie uns</h2>
                <p>Hier sind unsere Kontaktdaten:
                    <br>Lorem Ipsum
                </p>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 SpaceOne Corporation</p>
    </footer>
</body>

</html>
