<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceOne Corporation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body class="container">
    <header>
        <h1>Welcome to SpaceOne Corporation</h1>
    </header>

    <nav>
        <a href="database.html">Our Database</a>
        <a href="contact.html">Contact Us</a>
    </nav>

    <main>
        <section>
            <article>
                <h2>About SpaceOne</h2>
                <p>SpaceOne Corporation is a leading technology and aerospace company headquartered in Hamburg, Germany. Our mission is to develop technologies to enable humanity to colonize Mars and spread life to other planets.</p>
            </article>
            <article>
                <h2>Departments</h2>
                <p>We are constantly growing, with new departments joining us. Our IT infrastructure supports this growth, providing clear structures for efficient organization of data and objects.</p>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 SpaceOne Corporation</p>
    </footer>
</body>

</html>
